<div class="navbar navbar-inverse navbar-static-top<%= ' mobile-only' if mobile %>">
  <div class="container">
    <% unless mobile %>
      <div class="navbar-header">

       <!-- Mobile nav toggle -->
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
       </button>

        <a class="navbar-brand" href="/"><%= image_tag('logo-header.png', alt: "The ODI", id: "odi-logo") %></a>

      </div>

      <div class="modal fade" id="getLogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Welcome to the ODI
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </h4>
            </div>
            <div class="modal-body">
              <P>Knowledge for everyone</P>
              <P>The ODI helps to unlock the value of open data.</P>
              <P>If you want to use our logo, different sizes and types are here: <a href="http://theodi.org/brand">http://theodi.org/brand</a></P>
              <p><a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dsml.png"><img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dsml.png" alt=""></a></p>

              <p><a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png"><img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png" alt=""></a></p>

              <p><a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png"><img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dlg.png" alt=""></a></p>

              <p><a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png"><img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dxlg.png" alt=""></a></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/contact">Contact us</a></li>
      <li><a href="/newsletters">Newsletters</a></li>

      <!-- <li><a href="#about">Sign in</a></li> -->
    </ul>

    <!-- Patched to remove search bar. To reenable, just remove `or true` -->
    <% unless mobile %>
      <form class="navbar-form navbar-right" action="/search" method="get">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search ODI" name="q"/>
            <input type="submit" value="Go" class="btn"/>
          </div>
        </div>
      </form>
    <% end %>
  </div>
</div>
