/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "main";
@import "font-awesome";
@import "ui/tags";


.course-sidebar {
  @extend .article-sidebar;
  padding: 0;
  margin: 0;

  h3 {
    margin: 0 0 17px 0;
    font-size: 28px;
  }
}

.people-body{
  @extend .article-body;
  h3 {
    margin: 0 0 11px 0;
  }

}

.module-course, .module-event {
  span.date {
    font-size: 18px;
  }
}

.course-date, .course-location {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.course-meta {
  padding-top: 12px;
  margin-bottom: 0;
  display: table;
  width: 100%;

  .course-book {
    text-align: right;
  }

  div {
    display: table-cell;
    vertical-align: middle;
  }
}

.trainer-description {
  margin-top: 20px;
}

.course-leaders {
  margin-bottom: 12px;
}

#juvia_comments {
  .juvia-field {
    @extend .form-group;
    input, textarea {
      @extend .form-control;
      border-radius: 4px;
    }
    .juvia-help {
      @extend .help-block;
    }
  }
  .juvia-submit-button input, .juvia-submitting-button input {
    @extend .btn;
    @extend .btn-primary;
  }
  .juvia-submitting-button input {
    opacity: 0.5;
  }
  .juvia-comment {
    margin-bottom: 25px;
    .juvia-metadata {
      background: $odiBlue;
      color: #fff;
      position: relative;
    }
    .juvia-avatar {
      float: left;
      padding: 0 15px 0 0;
      background-color: #fff;
    }
    .juvia-author {
      padding: 5px;
      margin-left: 84px;
    }
    .juvia-creation-date {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 12px;
    }
    .juvia-comment-content {
      width: 100%;
      padding: 15px 0 0 84px;
    }
    .juvia-reply-to-comment {
      text-align: right;
      font-size: 14px;
    }
  }
}

.modal-content {
  border-radius: 0;

  .modal-header {
    background-color: $odiBlue;
    color: #fff;

    .close {
      opacity: 0.4;
      filter: alpha(opacity=40);
    }
  }
}

@media (max-width: 767px) {
  #juvia_comments {
    .juvia-comment {
      .juvia-author {
        padding-bottom: 0;
      }
      .juvia-creation-date {
        position: relative;
        left: 10px;
        top: 0;
        padding: 5px;
      }
    }
  }
}

// Social icons

#social {
  margin-top: 16px;

  a {
    display: inline;
    padding: 0 2px;
  }

  .fa-twitter {
    color: #4099FF;
  }

  .fa-linkedin-square {
    color: #4875B4;
  }

}

// Responsive Images

  .article-body img {
     max-width: 100%
  }

// Infinite scroll

#infscr-loading {
  position: absolute;
  bottom: -40px;
  margin: 40px 0 0 0;
  width: 100%;
  text-align: center;

  img {
    display: none;
  }
}

// Hide page furniture from printers

.article-sidebar, .site-footer, .navbar-right {
  @extend .hidden-print;
}

#speakers {
  position: relative;
  margin: 35px 0;

  .people-team {
    padding: 0 10% 0 0;
    margin-bottom: 10px;

    li {
      height: 350px;

      div {
        width: 99%;

        a {
          padding: 0;
        }

        img {
          width: 80%;
          position: relative;
          top: 0;
          left: 0;
          margin-bottom: 30px;
        }
      }
    }
  }

  #speaker-nav {
    position: absolute;
    right: 60px;
    top:0;
    display: inline-block;
    height: 350px;

    i {
      position: absolute;
      top: 40px;
      left: 0;
      opacity: 0.2;
      font-size: 120px;
      font-weight: lighter;
    }
  }

  #all-speakers {
    font-size: 1.1em;
    font-weight: normal;
    text-align: right;
    margin: 20px 0 20px 0;

    a {
      color: #428bca;
    }
  }
}

@media only screen and (max-width: 768px) {
  #speakers {
    .people-team {
      li {
        height: auto;
        display: inline-block;
        width: 100px;
        height: 100px;
        padding: 0 10px 0 0;
        margin: 0;

        div {
          height: 100px;
          background-color: #fff;
          padding: 0;
          margin: 0;

          img {
            width: 100px;
          }

          h1, p {
            display: none;
          }
        }
      }
    }
  }
}
